{% extends 'base.html' %} {% block contents %}
<main class="flex-shrink-0">
	<div class="container my-4">
		<div class="d-grid gap-2"></div>
		{% if projects %} {% for project in projects %}
		<a
			href="{% url 'projects:'|add:project|add:':index' %}"
			class="btn btn-primary"
			type="button"
		>
			{{project}}
		</a>
		{% endfor %}
	</div>
	{% else %}
	<div class="d-flex align-items-center justify-content-center min-vh-100">
		<div class="text-center">
			<h1 class="display-1 fw-bold">아무것도 없어요!</h1>
			<p class="fs-3">
				진짜 아무것도 없는 것일 수 있지만 보통은 서버 문제입니다🥺
			</p>
		</div>
	</div>
	{% endif %}
</main>
{% endblock %}
