# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pot

# Private folder
_logs/
_media/
_static/admin/
_tests/

# Environment value
.venv/
.env

# Databases
*/migrations/*
!*/migrations/__init__.py
db.sqlite3