<!DOCTYPE html>
<html lang="ko" class="h-100">
  <head>
    {% include "head.html" %}
    {% block static %} {% endblock %}     <!-- Static -->
  </head>
  <body class="d-flex flex-column h-100">
    {% include "navbar.html" %}           <!-- Header -->
    {% block contents %} {% endblock %}   <!--  Main  -->
    {% include "footer.html" %}           <!-- Footer -->
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    {% block scripts %} {% endblock %}    <!-- Script -->
  </body>
</html>