{% extends "base.html" %} {% block contents %}
<!-- Chat -->
<div class="container my-3">
	<h1 class="fw-bold mb-3 text-dark">Interactive</h1>
  <h5>모르는 사람과 대화하세요! 만날 수 있다면 말이죠.</h5>
	<p>
		Enter room code will send you to the room. <br />
		To talk with friend, friend should also enter same room code.
	</p>
	<p>
		Don't worry about the data leakage. <br />
		All data is end-to-end encrpyted and nobody, even the server won't know what
		you're talking about.
	</p>
	<form
		method="post"
		action="{% url 'projects:interactive:index' %}"
	>
		{% csrf_token %}
		<div class="mb-3">
			<input
				type="text"
				class="form-control rounded-3"
				name="room"
				placeholder="Enter room code"
			/>
		</div>
		<div class="mb-0 d-grid">
			<button class="btn btn-dark btn-ecomm rounded-3">Join Chat</button>
		</div>
	</form>
</div>
<!-- /Chat -->

{% endblock contents %}
