{% extends "base.html" %}{% block main %}
<!-- Chat -->
<main>
	<h1>Welcome to {{ room_name }}</h1>
	<h4>Chat Log</h4>
	<textarea
		id="chat-log"
		rows="10"
		style="resize: vertical"
		readonly
	></textarea>
	<div>
		<input
			type="text"
			id="chat-message-input"
		/>
		<button id="chat-message-submit">
			<strong>Send</strong>
		</button>
	</div>
</main>
<!-- /Chat -->
{% endblock main %}{% block scripts %}
<script>
	const roomName = '{{room_name}}';
	const chatSocket = new WebSocket(
		'wss://' + window.location.host + '/ws/chat/' + roomName + '/'
	);

	chatSocket.onmessage = function (e) {
		const data = JSON.parse(e.data);
		const textarea = document.getElementById('chat-log');

		textarea.value += `${data.message}\n`;
		textarea.scrollTop = textarea.scrollHeight;
	};

	chatSocket.onclose = function (e) {
		const textarea = document.getElementById('chat-log');
		textarea.value += `[${getTime()}] 채팅방과의 연결이 끊어졌습니다...\n`;
		textarea.scrollTop = textarea.scrollHeight;
	};

	document.querySelector('#chat-message-input').focus();
	document.querySelector('#chat-message-input').onkeyup = function (e) {
		if (e.keyCode === 13) {
			// enter, return
			document.querySelector('#chat-message-submit').click();
		}
	};

	function getTime() {
		const now = new Date();
		const hours = String(now.getHours()).padStart(2, '0');
		const minutes = String(now.getMinutes()).padStart(2, '0');
		const seconds = String(now.getSeconds()).padStart(2, '0');
		return `${hours}:${minutes}:${seconds}`;
	}

	document.querySelector('#chat-message-submit').onclick = function (e) {
		const messageInputDom = document.querySelector('#chat-message-input');
		const message = messageInputDom.value;
		chatSocket.send(
			JSON.stringify({
				message: `[${getTime()}] ${message}`,
			})
		);
		messageInputDom.value = '';
	};
</script>
{% endblock scripts %}
