{% extends 'base.html' %} {% block contents %}
<main class="flex-shrink-0">
	<div class="container my-4 w-25">
		<div class="p-4 mb-4 bg-body border rounded-3">
			<div class="container-fluid">
				<h4 class="display-5 mb-3 fw-bolder text-center">로그인</h4>

				<form
					method="post"
					action="{% url 'user:login' %}"
				>
					{% csrf_token %} {% include "form_errors.html" %}

					<div class="form-floating mb-1">
						<input
							type="email"
							class="form-control rounded-3"
							id="Email"
							name="username"
							placeholder="username@example.com"
							value="{{form.email.value|default_if_none:''}}"
						/>
						<label for="Email">이메일 주소</label>
					</div>

					<div class="form-floating mb-1">
						<input
							type="password"
							class="form-control"
							id="floatingPassword"
							placeholder="Password"
							name="password"
							value="{{ form.password.value|default_if_none:'' }}"
						/>
						<label for="floatingPassword">비밀번호</label>
					</div>

					<div class="form-floating mb-3">
						<button
							class="btn btn-primary w-100"
							type="submit"
						>
							로그인!
						</button>
					</div>
				</form>

				<p class="mt-2 mb-0">
					비밀번호를 잊으셨나요?
					<a href="javascript:alert('히히 안돼');">비밀번호 초기화</a>
				</p>
				<p>
					아직 회원이 아니신가요?
					<a href="{% url 'user:signup' %}">회원가입하기</a>
				</p>
				<p class="mt-3 mb-3 text-muted text-center">killerwhalee &copy;2024</p>
			</div>
		</div>
	</div>
</main>
{% endblock %}
