{% extends 'base.html' %} {% block main %}
<main>
	<h2>로그인!</h2>

	<form
		method="post"
		action="{% url 'user:login' %}"
	>
		{% csrf_token %} {% include "form_errors.html" %}

		<label>이메일 주소</label>
		<input
			type="email"
			name="username"
			placeholder="username@example.com"
			value="{{form.email.value|default_if_none:''}}"
		/>

		<label for="floatingPassword">비밀번호</label>
		<input
			type="password"
			placeholder="Password"
			name="password"
			value="{{ form.password.value|default_if_none:'' }}"
		/>

		<div>
			<button type="submit"><strong>로그인!</strong></button>
		</div>
	</form>

	<div>
		비밀번호를 잊으셨나요?
		<a href="javascript:alert('그런 건 없습니다. 관리자에게 문의하세요!');"
			>비밀번호 초기화</a
		>
		<br />
		아직 회원이 아니신가요?
		<a href="{% url 'user:signup' %}">회원가입하기</a>
	</div>
</main>
{% endblock main %}
