{% extends 'base.html' %} {% block main %}
<main>
	<h2>회원가입!</h2>
	<form
		method="post"
		action="{% url 'user:signup' %}"
	>
		{% csrf_token %} {% include "form_errors.html" %}

		<label for="Email">이메일 주소</label>
		<input
			type="email"
			name="email"
			placeholder="username@example.com"
			value="{{form.email.value|default_if_none:''}}"
		/>

		<label for="Password1">비밀번호</label>
		<input
			type="password"
			name="password1"
			placeholder="Password"
			value="{{form.password1.value|default_if_none:''}}"
		/>

		<label for="Password2">비밀번호 확인</label>
		<input
			type="password"
			name="password2"
			placeholder="Confirm Password"
			value="{{form.password2.value|default_if_none:''}}"
		/>

		<div>
			<button type="submit"><strong>회원가입!</strong></button>
		</div>
	</form>

	<div>
		벌써 가입하셨나요?
		<a href="{% url 'user:login' %}">로그인하기</a>
	</div>
</main>
{% endblock main %}
