{% extends 'base.html' %} 
{% block contents %}
<main class="flex-shrink-0">
  <div class="container">
    {% if explore_list %}
        <div class="row row-cols-1 row-cols-md-4 g-4 mt-3 mb-5">
          <div class="col">
            <div class="card border-success h-100">
              <img src="/static/image/unknown.png" class="card-img-top">
              <div class="card-body">
                <h3 class="card-title"><b>Make new explore!</b></h3>
                <h6 class="card-subtitle">by {{request.user}}</h6>
                <p class="card-text mt-3">
                  Explorer is your own page where you can share your uniqueness and creativity to everyone.
                  Feel free to make one!
                </p>
              </div>
              <div class="card-body d-flex align-items-end">
                <a href="{% url 'gallery:explore-create' %}" class="btn btn-success mx-1">create!</a>
              </div>
            </div>
          </div>
        {% for explore in explore_list %}
            <div class="col">
              <div class="card h-100">
                <img src="https://source.unsplash.com/collection/{{explore.explore_id}}/400x300" class="card-img-top">
                <div class="card-body">
                  <h3 class="card-title"><b>{{explore.explore_title}}</b></h3>
                  <h6 class="card-subtitle">by {{explore.explore_author}}</h6>
                  <p class="card-text mt-3">{{explore.explore_description}}</p>
                </div>
                <div class="card-body d-flex align-items-end">
                  <a href="{% url 'gallery:explore' explore.explore_id %}" class="btn btn-primary mx-1">explore!</a>
                  {% if request.user == explore.explore_author %}
                      <a href="{% url 'gallery:explore-edit' explore.explore_id %}" class="btn btn-outline-primary mx-1">edit</a>
                  {% endif %}
                </div>
                <div class="card-footer">
                  <small class="text-muted">Created in {{explore.explore_date_created|date:'Y-m-d H:m'}}</small>
                </div>
              </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <div class="d-flex align-items-center justify-content-center vh-100">
          <div class="text-center">
            <h1 class="display-1 fw-bold">
              Nothing here
            </h1>
            <p class="fs-3"> 
              Maybe there's problem on server...or literally nothing here!
            </p>
            <p class="lead">
              How about make your own one?
            </p>
            <a href="{% url 'gallery:explore-create' %}" class="btn btn-success btn-lg fw-bold">
              Create !
            </a>
          </div>
        </div>
    {% endif %}
  </div>
</main>
{% endblock %}