{% extends "base.html" %} {% block main %} {% load static %}
<main>
	<img src="{% static 'id221/project-1/final.png' %}" />

	<article>
		<h3>🏅 이번 학기는 금메달을 받아 마땅합니다</h3>
		<p>
			한 학기를 버티는 일이란 참 힘듭니다. 과제는 쌓여가고 팀플은 산으로 가고,
			메일은 끝도 없이 옵니다. 이것들이 올림픽 종목이었다면, 금메달을 받고도
			남았을 것입니다.<br /><br />이런 여러분들을 위해, 4개월 동안 펼쳐지는
			우리만의 작은 올림픽을 꾸려 보았습니다. 가장 자신 있는 종목은 무엇인가요?
			여러분도 이곳에선 국가대표입니다!<br />
		</p>
	</article>

	<article>
		<h3>🏅 You deserve a gold medal this semester!</h3>
		<p>
			<br />It is really tough to 'survive' the semester. Piled up assignments,
			team project heading to mountain and endless rally of e-mail…and so on. If
			they were the olympic sports, you must deserve a medal.<br /><br />For
			you, I opened a small olympics just for us. What is your 'best' sport?
			You're the athlete today!<br />
		</p>
	</article>

	<details>
		<summary>Sports Events Available</summary>
		<figure>
			<img src="{% static 'id221/project-1/sport-cycling.png' %}" />
			<figcaption>Cycling: Go to class using electric kickboard</figcaption>
		</figure>

		<figure>
			<img
				src="{% static 'id221/project-1/sport-weightlifting.png' %}"
			/>
			<figcaption>
				Weightlifting: Lift every assignment you put behind
			</figcaption>
		</figure>

		<figure>
			<img
				src="{% static 'id221/project-1/sport-negotiation.png' %}"
			/>
			<figcaption>
				Negotiation: (Newly Introduced!) Claim your pity grade to the TA<br />
			</figcaption>
		</figure>

		<figure>
			<img src="{% static 'id221/project-1/sport-high-jump.png' %}" />
			<figcaption>
				High Jump: Jump over all the projects of the semester
			</figcaption>
		</figure>

		<figure>
			<img src="{% static 'id221/project-1/sport-judo.png' %}" />
			<figcaption>Judo: Drink until you can't</figcaption>
		</figure>

		<figure>
			<img src="{% static 'id221/project-1/sport-athletics.png' %}" />
			<figcaption>
				Athletics: Run away from the attack of the angry goose
			</figcaption>
		</figure>

		<figure>
			<img src="{% static 'id221/project-1/sport-basketball.png' %}" />
			<figcaption>
				Basketball: Submit your assignment as late as possible
			</figcaption>
		</figure>

		<figure>
			<img src="{% static 'id221/project-1/sport-archery.png' %}" />
			<figcaption>Archery: Shoot your grade, not the professor</figcaption>
		</figure>

		<figure>
			<img
				src="{% static 'id221/project-1/sport-enduring-starvation.png' %}"
			/>
			<figcaption>
				Enduring Starvation: (Newly Introduced!) Wait for endless line of
				cafeteria to get some food
			</figcaption>
		</figure>

		<figure>
			<img
				src="{% static 'id221/project-1/sport-sports-climbing.png' %}"
			/>
			<figcaption>
				Sports Climbing: Climb up the Yeolin-gil for dinner
			</figcaption>
		</figure>

		<figure>
			<img
				src="{% static 'id221/project-1/sport-table-tennis.png' %}"
			/>
			<figcaption>
				Table Tennis: Rally with professor by e-mail all day long
			</figcaption>
		</figure>

		<figure>
			<img src="{% static 'id221/project-1/sport-rowing.png' %}" />
			<figcaption>Rowing: Sail your team project to the mountain</figcaption>
		</figure>
	</details>

	<h1>Ideation</h1>
	<details>
		<summary><del>Idea 1: What is your favorite film?</del></summary>

		<img src="{% static 'id221/project-1/idea1-film.png' %}" />

		<blockquote>
			어떤 필름을 좋아하시나요? 저는 10월을 가장 좋아합니다.
		</blockquote>

		<p>
			저는 사진 찍는 것을 좋아합니다. 특히 요새는 필름에 재미를 들렸습니다(제
			지갑은 싫어합니다).
		</p>
		<p>
			필름의 재미가 무엇인지 말하라고 한다면 셀 수 없이 많겠지만, 하나를 꼽자면
			어떤 필름을 쓰냐에 따라 그 사진의 분위기가 확 바뀐다는 것이 되겠습니다.
			어떤 필름은 녹색이 강하고 어떤 필름은 붉은 빛이 강하거나 하는 식이죠.
		</p>
		<p>
			이렇게 종류에 따라 바뀌는 분위기는 마치 한 해의 계절이 지나가는 듯한
			인상을 줍니다. 창백했다가 푸르러지기도 하고 맑고 깨끗하다가도 흐릿하고
			마침내 점점 따뜻하고 붉어지다가 다시 창백한 상태로 돌아가는 계절처럼
			말이죠.
		</p>
		<p>
			필름은 종류마다 또 포장 상자의 디자인이 각양각색입니다. 그래서 어쩌면 포장
			상자를 이용해 계절을 표현해보면 어떨까? 라는 지경(?)에 이르게 됩니다.
		</p>

		<h3>아이디어</h3>
		<p>필름 상자의 디자인을 각 월(+계절)의 이미지로 다시 해석해보기</p>

		<h3>도전 과제(?)</h3>
		<ul>
			<li>계절의 이미지와 원래 필름 상자의 디자인을 모두 살릴 수 있을까?</li>
			<li>이거 만들고 났는데 상자처럼 안 생겼으면 어떡하지</li>
		</ul>

		<h3>스케치</h3>
		<img src="{% static 'id221/project-1/idea1-sketch-1.png' %}" />
		<img src="{% static 'id221/project-1/idea1-sketch-2.png' %}" />
		<img src="{% static 'id221/project-1/idea1-sketch-3.png' %}" />

		<h3>피드백</h3>
		<ul>
			<li>
				필름 상자는 사람들에게 익숙하지 않다 → 디자인 결과 그냥 네모난 걸로 볼
				것
			</li>
		</ul>
	</details>

	<details>
		<summary><del>Idea 2: Old Memories</del></summary>

		<img src="{% static 'id221/project-1/idea2-tape.png' %}" />

		<blockquote>당신이 간직하고 있는 소중한 기억은 무엇인가요?</blockquote>

		<p>
			다들 어린 시절에 집에서 테이프를 돌려 보던 때가 있었을 것입니다(아니라면
			유감입니다).
		</p>
		<p>
			이제는 테이프도 없고 플레이어도 없어 테이프가 있어도 돌려 보지를 못하지요.
			제가 가장 좋아하던 교향곡 컬렉션도 플레이어가 없어서 돌려 보지 못하고
			있습니다. 덕분에 그 교향곡 컬렉션은 제 오랜 기억 저편에서 쓸쓸히 울리고
			있지요..
		</p>
		<p>
			꼭 음악이 아니더라도, 그런 옛날의 기억들도 테이프와 비슷하다고 생각합니다.
			돌려보진 못하지만, 여전히 간직하고 있고, 그것이 소중하다고 생각하니까요.
		</p>

		<h3>아이디어</h3>
		<p>옛날의 기억들을 테이프 위에 표현해보기</p>
		<p>풀어진 테이프를 디자인 요소로 활용하면 어떨까?</p>
		<img src="{% static 'id221/project-1/idea2-tape-out.png' %}" />

		<h3>도전 과제(?)</h3>
		<p>너무 밍밍하진 않을까..</p>

		<h3>스케치</h3>
		<p>🥺</p>

		<h3>피드백</h3>
		<ul>
			<li>테이프의 형태가 모두 같으니, 바리에이션을 줄 필요가 있다</li>
			<li>테이프가 감긴 정도를 활용해보는 건 어떨까?</li>
		</ul>
	</details>

	<details>
		<summary>Idea 3: KAIST Olympics 2024 ✅</summary>

		<img src="{% static 'id221/project-1/idea3-pictogram.png' %}" />

		<blockquote>버텨낸 당신이 진정한 챔피언입니다.</blockquote>

		<p>
			학교에서 살아남는다는 건 참 어려운 일입니다. 정신 차리고 보면 박살난 몸과
			정신 그리고 속절없이 흘러간 4개월만 덩그러니 남겨질 때가 많죠. 마치 학기를
			버티는 일이 하나의 경기에 임한다는 느낌도 듭니다.
		</p>
		<p>
			그래서 이 고통(!)에서 착안해서 학교 생활을 학교에서 버티는 각종 종목으로
			이루어진 올림픽이라고 생각해보는 건 어떨까 했습니다. 그리고 올림픽엔 종목
			별로 픽토그램이 있죠!
		</p>

		<h3>아이디어</h3>
		<p>
			학교 생활 중 벌어지는 각종 힘겨운 일들을 올림픽 종목처럼 꾸며 픽토그램
			만들기
		</p>

		<h3>도전 과제</h3>
		<ul>
			<li>재미있게 만들기 어려울지도 모르겠네요</li>
			<li>각종 힘든 사례들을 주섬주섬 모아 봐야겠습니다</li>
			<li>완성 난이도가 높지 않을까봐 걱정입니다.</li>
		</ul>

		<h3>피드백</h3>
		<ul>
			<li>모양에 일관성을 줄 필요가 있다.</li>
			<li>사람과 물체, 행동이 잘 구분되게 만들어야 한다.</li>
		</ul>
	</details>

	<h1>Embodiment</h1>

	<details>
		<summary>아이디어 계획!</summary>
		<blockquote>뭐가 그렇게 힘드니</blockquote>
		<p>
			학교에서 지내면서 벌어지는 고난, 역경, 괴로운 일들을 모아서 스포츠
			종목으로 치환한다.
		</p>
		<ul>
			<li>
				요소로 만들 만한 것들!
				<ol>
					<li>사이클: 킥보드로 통학하기</li>
					<li>??: 학식 줄 오래 기다리기</li>
					<li>럭비, 핸드볼, 농구: 과제 마감 직전에 내기</li>
					<li>??: 밤새기</li>
					<li>역도: 지금까지 밀린 과제 들기</li>
					<li>조정: 산으로 가는 조별과제</li>
					<li>육상: 거위한테 쫒기기</li>
					<li>스포츠클라이밍: 열린길 넘어 궁동 가기</li>
					<li>유도: 과음 후 뻗기</li>
					<li>레슬링: 조교님이랑 클레임으로 씨름하기</li>
					<li>양궁: 학점 쏘기 (교수님은 안돼)</li>
				</ol>
			</li>
		</ul>

		<ul>
			<li>
				실제 요소로 만든 것들
				<ol>
					<li>육상-달리기: 거위로부터 도망치기</li>
					<li>양궁: A 학점 쏘기</li>
					<li>(비종목): 조교님한테 클레임 걸기</li>
					<li>조정: 산으로 가는 조별과제</li>
					<li>유도: 술 많이 마시기, 그리고 기절하기</li>
					<li>클라이밍: 열린길 넘어가기</li>
					<li>역도: 지금까지 밀린 과제 들어올리기</li>
					<li>사이클: 킥보드 타고 통학하기</li>
					<li>탁구: 교수님과 메일로 릴레이 하기</li>
					<li>육상-허들: 과제, 프로젝트 뛰어넘기</li>
					<li>농구: 마감 직전에 과제 던져넣기</li>
					<li>(비종목): 학식 줄 오래 기다리기</li>
				</ol>
			</li>
		</ul>
	</details>

	<details>
		<summary>아이디어 스케치</summary>
		<img src="{% static 'id221/project-1/sketch-1.png' %}" />
		<img src="{% static 'id221/project-1/sketch-2.png' %}" />
		<img src="{% static 'id221/project-1/sketch-3.png' %}" />
		<img src="{% static 'id221/project-1/sketch-4.png' %}" />
		<img src="{% static 'id221/project-1/sketch-5.png' %}" />
		<img src="{% static 'id221/project-1/sketch-6.png' %}" />
		<img src="{% static 'id221/project-1/sketch-7.png' %}" />
		<img src="{% static 'id221/project-1/sketch-8.png' %}" />
		<p>(보너스) 넙죽이로 재해석한 2012 런던 올림픽 로고</p>
		<img src="{% static 'id221/project-1/sketch-nupjook.png' %}" />
	</details>

	<details>
		<summary>1차 초안</summary>
		<img src="{% static 'id221/project-1/draft1.png' %}" />
		<p>수정해야 할 사항들:</p>
		<ul>
			<li>
				사람마다 선의 굵기가 제각각이다. 사이즈 맞추고 나서 굵기 다시 조절해야
				함
			</li>
			<li>
				사람과 도구/요소가 굵기가 같아서 구분이 잘 안되는 경우가 있다. 요소는
				조금 더 얇은 선으로 표현
			</li>
			<li>
				현재는 종목(?)별로 프레임이 없음 → 프레임도 새로 만들어서 넣어줘야 함
			</li>
			<li>요소 몇 개는 좀 대충 만들었음 고쳐야 함</li>
		</ul>
		<p>이러면 어떠려나? 할 사항들:</p>
		<ul>
			<li>색깔을 넣으면 이상할까..어색할지도 모르겠다</li>
			<li>
				사람들 만드는 데 쓰인 점이 은근 많다. 더 간소화해서 폴리고닉(??)하게
				만들어보는 건 어떨까
			</li>
			<li>
				지금은 스트로크로 사람들이 표현되었는데, 반대로 채우기로만 표현하면
				어떨까
			</li>
		</ul>
	</details>

	<details>
		<summary>2차 초안</summary>
		<img src="{% static 'id221/project-1/draft2.png' %}" />
		<p>만화같이 잘 나와서 기분이 좋다.</p>

		<p>그럼에도 다듬어야 할 사안들</p>
		<ul>
			<li>6번의 책 선 다듬기</li>
			<li>7번 과녁 바꾸기 (머리 위에 학점 얹은 교수님?)</li>
			<li>9번 과제 제출함 다듬기</li>
		</ul>

		<p>이걸 해보면 어떨까? 할 사안들</p>
		<ul>
			<li>강조하고 싶은 요소들에만 색깔로 포인트 주기</li>
			<li>스트로크 기준이 아니라 채우기 기준으로 보여주기</li>
			<li>프레임을 둥글둥글하게</li>
		</ul>

		<p>캡션 넣기</p>
		<ol>
			<li>Drive fast, or you'll be late at class</li>
			<li>
				Lift all the assignment you put behind (지금까지 밀린 과제 들어올리기)
			</li>
			<li>Claim your pity grade (초라한 성적 클레임 걸기)</li>
			<li>Drink as much as you can ()</li>
			<li>Being chased by a angry goose (화난 거위에게 쫒기기)</li>
			<li>Jump over the pile of projects (프로젝트 더미 뛰어넘기)</li>
			<li>Aim good grade risking your life (목숨 걸고 학점 쏘기)</li>
			<li>Wait for infinite line of cafeteria (</li>
			<li>Submit assignment as late as possible</li>
			<li>Rally with professor by e-mail</li>
			<li>Climb over yeolin-gil for dinner</li>
			<li>Group assignment heading for mountain</li>
		</ol>
	</details>

	<details>
		<summary>다듬은 2차 초안</summary>
		<img src="{% static 'id221/project-1/draft2r-white.png' %}" />
		<p>뭔가 아쉬운 것들</p>
		<ul>
			<li>제목 더 재밌는 거 없을까..</li>
			<li>레이아웃이 상당히 밍밍하다. 색깔이 없어서 그런가</li>
		</ul>

		<p>이걸 해보면 어떨까? 할 사안들 (계속)</p>
		<ul>
			<li>강조하고 싶은 요소들에만 색깔로 포인트 주기</li>
			<li>스트로크 기준이 아니라 채우기 기준으로 보여주기</li>
			<li>프레임을 둥글둥글하게</li>
		</ul>
		<img src="{% static 'id221/project-1/draft2r-fill.png' %}" />
		<img src="{% static 'id221/project-1/draft2r-color.png' %}" />

		<p>레이아웃에 대한 고민</p>
		<img src="{% static 'id221/project-1/draft2r-beige.png' %}" />
		<p>기존 레이아웃</p>
		<ul>
			<li>꽉 차 보인다</li>
			<li>밍밍하다</li>
			<li>너무 단조롭다</li>
		</ul>
		<img src="{% static 'id221/project-1/draft2r-tilt.png' %}" />
		<p>새로 생각한 레이아웃</p>
		<ul>
			<li>긴장감이 있다</li>
			<li>제목도 이게 더 나은거같다</li>
			<li>근데 사선으로 위아래에 공백이 많다</li>
			<li>굳이 사선으로 한 특별한 이유가 있음?</li>
		</ul>
		<p>너무 흑백이야 이렇게 두고 보니까!!!! → 색깔 강조를 넣어야겠다</p>
	</details>

	<details>
		<summary>최종본!</summary>
		<img src="{% static 'id221/project-1/final.png' %}" />
		<p>2차 초안에서 반영해야 할 부분들을 모두 반영하였음</p>
		<ul>
			<li>사람을 테두리만 나타내는 것에서 반대로 채우기로 표현하였음</li>
			<li>종목 별 강조 요소에 색깔을 칠했음</li>
			<li>
				기울인 레이아웃을 채택하였음 → 주마등(!!) 스치듯이 지나가는 고난들처럼
				보여서 좋았음
			</li>
			<li>대충 딴 선들을 완벽하게 고치고 삐뚤빼뚤한 선들도 다시 그렸음</li>
			<li>제목을 'Your Life Deserves A Medal'로 수정하였음</li>
			<li>제목 옆에 결국 메달을 따낸 사람의 모습을 넣었음</li>
		</ul>
	</details>

	<details>
		<summary>Hall of Feedback</summary>
		<blockquote>
			"The story is touching and layout and elements looks lively. White and
			black tone is clear!"
		</blockquote>
		<blockquote>
			"I love the sense of humor you used in this pictogram. Especially, I
			really like the 'being chased by a angry goose'."
		</blockquote>
		<blockquote>“아니면 요소들은 라인을 안 따도 될 것 같아요”</blockquote>
	</details>

	<hr />

	<a
		class="button"
		href="{% url 'projects:id221:index' %}"
		><strong>return to project list</strong></a
	>
</main>
{% endblock main %}
