{% extends "base.html" %} {% block main %} {% load static %}
<main>
	<img src="{% static 'id221/project-2/final.png' %}" />

	<article>
		<h3>📷 그럼에도 우리가 필름을 사랑하는 건</h3>
		<p>
			디지털 카메라와 스마트폰이 보급된 현재, 필름 카메라를 사용하는 사람은 없을
			것입니다.
		</p>
		<p>
			무겁고, 비싸며, 확인도 바로 못 하는 필름 카메라는 정말 불편해 보이니까요.
		</p>
		<p>하지만 그럼에도 필름 카메라를 사용하는 사람들이 있습니다.</p>
		<p>그들이 그토록 필름을 사랑하는 이유는 무엇일까요?</p>
	</article>

	<article>
		<h3>📷 Still, we love film cameras</h3>
		<p>
			With the spread of digital cameras and smartphones, no one will use film
			cameras.
		</p>
		<p>
			A film camera that is heavy, expensive, and can't be checked right away
			looks really uncomfortable.
		</p>
		<p>But there are people who still use film cameras.</p>
		<p>Why do they love film so much?</p>
	</article>

	<h1>Ideation</h1>

	<details>
		<summary>Idea 1: How to Cook a Photo → Why Analog Photography?</summary>

		<img src="{% static 'id221/project-2/idea1-banner.png' %}" />

		<h3>Introducing full process of analog photography</h3>
		<ol>
			<li>Goal - Introduce people how picture was made in the past</li>
			<li>
				Audience - People used to take photo by just clicking shutter button on
				their phone
			</li>
			<li>Message - Try enjoying slow process to “cook” photography</li>
			<li>
				Story - In these days people are spamming photos by using phone since no
				efforts are needed anymore for get image of what we see. Since I enjoy
				taking film photography, I want people to enjoy film photo and
				experience value of its slow but meticulous process to get a photo.
			</li>
			<li>
				Data - There's no statistics in this theme, but still its contents has
				many data inside it. I have to represent it efficiently.
			</li>
			<li>
				Contents -
				<ul>
					<li>
						Taking photo: About shutter, aperture; Format of film; Type of film
					</li>
					<li>Developing: Process to develop; time and temperature;</li>
					<li>Printing: Contrast and exposure; Process to print;</li>
				</ul>
			</li>
		</ol>

		<h3>Idea Sketch</h3>
		<img src="{% static 'id221/project-2/idea1-sketch.png' %}" />
	</details>

	<details>
		<summary><del>Idea 2: Know Your Pasta</del></summary>

		<img src="{% static 'id221/project-2/idea2-banner.png' %}" />

		<h3>Introducing various different pasta</h3>
		<ol>
			<li>
				Goal - To introduce people various type of pasta and make people
				differentiate them.
			</li>
			<li>Audience - Someone who always say “spaghetti” to every pasta.</li>
			<li>Message - Know what you actually eat and explore various pasta.</li>
			<li>
				Story - I really love cooking pasta as well as eating pasta. I can cook
				tens of different pasta, but I always get mad when people say “what a
				delicious looking spaghetti”. Spaghetti is name of noodle, not a name of
				food.Though western cuisine is prevalent in current korean society, but
				still pasta is not well-specified and noticed. There are tens of
				different types of noodle and sauce in pasta recipe and it would be much
				fun to “know exactly what you eat” !
			</li>
			<li>
				Data - There are many types of noodle and sauce for pasta. I'm going to
				classify each type of noodle and sauce separately. For noodle, I'm
				planning to sort by its shape, ingredients or recommended sauce type.
				For sauce, I'll make a tree graph to make people find their favorite
				sauce.We can also put statistics about arising amount of pasta
				restaurant or net revenue of instant pasta products.
			</li>
			<li>
				Contents
				<ul>
					<li>
						Noodle: Type of noodle; Selecting good noodle; Good pairing with
						sauce; Cook noodle
					</li>
					<li>Sauce: Type of sauce; Finding my favorite sauce for dinner</li>
					<li>Cooking: How to cook pasta delicious;</li>
				</ul>
			</li>
		</ol>

		<h3>Idea Sketch</h3>
		<img src="{% static 'id221/project-2/idea2-sketch.png' %}" />
	</details>

	<details>
		<summary><del>Idea 3: 🤔</del></summary>

		<img src="{% static 'id221/project-2/idea3-banner.png' %}" />
	</details>

	<h1>More Sketch and Embodiment</h1>

	<details>
		<summary>그럼에도 우리가 필름을 사랑하는 이유?</summary>
		<ol>
			<li>
				신중함
				<ul>
					<li>
						(하지만) 단 36장, 사진 확인 못 함, 필름은 가격도 비싸..
						<ul>
							<a
								href="https://photutorial.com/photos-statistics/"
								target="_blank"
								>[통계1: 사진 통계]</a
							>
							<a
								href="https://www.analog.cafe/app/film-price-trends"
								target="_blank"
								>[통계2: 평균 필름 가격]</a
							>
							<a
								href="https://www.computerweekly.com/news/366555593/Flash-prices-drop-towards-spinning-disk-levels-in-2023"
								target="_blank"
								>[통계3: gb당 sd카드 가격]</a
							>
						</ul>
					</li>
					<li>(그럼에도) 사진 한 장을 찍을 때도 고민하고 생각하게 만듦</li>
				</ul>
			</li>

			<li>
				정성
				<ul>
					<li>
						(하지만) 필름에 상을 담아내고, 그것을 다시 종이로 옮겨내야 함.며칠이
						걸리는 작업인 데다가 비용도 발생함
					</li>
					<li>
						(그럼에도) 사진을 ‘찍는다'는 느낌보다 ‘만든다'의 느낌에 가까움사진
						한 장을 얻기 위해 더 많은 노력과 정성이 들어가므로, 그만큼 더
						소중하다.
					</li>
				</ul>
			</li>

			<li>
				색감
				<ul>
					<li>(하지만) 필름은 비싸다. SD카드는 요새 만원밖에 안 하던데…</li>
					<li>
						(그럼에도) 보정이 필요 없는 필름만의 따뜻한 분위기감도나 필름의
						종류에 따른 분위기를 즐기는 재미
					</li>
				</ul>
			</li>

			<li>
				개성
				<ul>
					<li>
						(하지만) 무겁고 조작할 것도 많다.
						<ul>
							<li>
								<a
									href="https://www.phoneparrot.com/weight-of-a-smartphone/"
									target="_blank"
									>[통계1: 평균 스마트폰 무게]</a
								><a
									href="https://www.pacificrimcamera.com/rl/00060/00060.pdf"
									target="_blank"
									>[통계2: minolta 카메라 차트]</a
								>
							</li>
							<li>평균 스마트폰 무게: 150~180g</li>
							<li>
								평균 SLR 카메라 무게: 500~900g <strong>(렌즈 없이)</strong>
							</li>
						</ul>
					</li>
					<li>
						(그럼에도) 카메라 별로 온갖 다양한 디자인이 있어 개성이 넘친다.
					</li>
				</ul>
			</li>
		</ol>
	</details>

	<details>
		<summary>데이터 스케치</summary>
		<img src="{% static 'id221/project-2/sketch.png' %}" />
		<ol>
			<li>필름은 비싸다: 한 번밖에 못 쓰고, 적은 사진에 가격이 비싸다</li>
			<li>필름은 느리다: 찍자마자 확인도 못 하고, 며칠을 기다려야 한다.</li>
			<li>필름은 무겁다: 카메라가 금속으로 만들어져 있어 무겁다.</li>
		</ol>
		<p>그럼에도 필름을 하는 이유는</p>
		<ol>
			<li>
				필름은 부드럽다: 노이즈 대신 풍부한 그레인이 있고, 색감이 따뜻하다
			</li>
			<li>필름은 개성있다: 다양한 종류의 카메라가 있고 디자인이 개성있다.</li>
			<li>
				필름은 소중하다: 신중하고 오랜 시간 정성들여 만든 만큼 사진에 소중함과
				애정이 생긴다.
			</li>
		</ol>
	</details>

	<h1>Drafts</h1>

	<details>
		<summary>First Draft</summary>

		<img src="{% static 'id221/project-2/draft1.png' %}" />

		<h3>Self-Criticism</h3>
		<ul>
			<li>
				필름 색깔을 살리려다 보니 전체적으로 색이 많이 어두워졌다.조금 더 밝은
				색을 써 보는 건 어떨까
			</li>
			<li>
				배치가 지루하다: 모든 행이 그림은 왼쪽에, 텍스트는 오른쪽에 있다.적절히
				섞어 보면 좋겠다.
			</li>
			<li>텍스트 색깔 좀 예쁘게 맞추면 좋겠다</li>
		</ul>
	</details>

	<details>
		<summary>Second Draft</summary>

		<img src="{% static 'id221/project-2/draft2.png' %}" />

		<h3>Self-Criticism</h3>
		<ul>
			<li>
				지금은 내용이 없어서 그런데, 단점밖에 안 적혀있다. 이래서 사람들이
				필름을 하겠는가?
			</li>
		</ul>

		<h3>Coming Soon</h3>
		<ul>
			<li>
				3행에는 연도에 따른 필름의 판매량이 들어갈 예정입니다 → 2019년까지
				급격히 감소하지만 그 뒤로 일정 수준을 유지하는 그래프
			</li>
			<li>3행에서 “그럼에도 사람들이 여전히 필름을 찾는 이유” 로 전환</li>
			<li>
				4행에서는 디지털 노이즈와 필름 그레인 그리고 색감을 비교하여 필름의
				미학적 아름다움을 강조할 예정
			</li>
			<li>
				7행에서는 사진이 만들기 어려운 만큼 가치 있고 소중한 것을 강조 → 이후
				마무리
			</li>
		</ul>

		<h3>Priceless Feedbacks</h3>
		<ul>
			<li>너무 만화같이 구성되지 않게 조심</li>
			<li>
				사람이나 오브젝트에 쓰이는 색깔이 실제 필름과 비슷하게 색깔을 맞춰 보기
			</li>
		</ul>
	</details>

	<details>
		<summary>Third Draft</summary>

		<img src="{% static 'id221/project-2/draft3.png' %}" />

		<h3>Self-Criticism</h3>
		<ul>
			<li>
				아직 3칸이 비어 있음 → 그대로 남겨둘 것인가, 내용을 추가할 것인가?
				<ul>
					<li>
						우려 사항: 추가한 내용이 해당 줄의 내용과 다르면 주의가 산만해질
						우려가 있음
					</li>
				</ul>
			</li>
			<li>두 번째 줄과 마지막 줄 이미지 내용이 조금 겹치지 않을까..?</li>
			<li>노이즈/그레인 사이의 차이가 육안으로 잘 보이는가?</li>
			<li>
				마지막 줄 첫 이미지만 일러스트가 아닌데, 부자연스러워보이지는 않는가?
			</li>
		</ul>

		<h3>Priceless Feedbacks</h3>
		<ul>
			<li>텍스트와 이미지가 대비가 너무 강해 어울리지 않는다</li>
			<li>이미지가 잘 보이지 않고, 너무 어둡다</li>
			<li>너무 보고서 같은 느낌이 든다</li>
			<li>여백이 너무 부족하다. 갑갑하다.</li>
		</ul>
	</details>

	<hr />

	<a
		class="button"
		href="{% url 'projects:id221:index' %}"
		><strong>return to project list</strong></a
	>
</main>
{% endblock main %}
